* {
    background: #FFABD9;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'lulocleanw01-oneboldregular';
}

.logo {
    display: inline-block;
    border: 1px solid white;
    color: white;
    text-shadow: 2px 2px #45FFC7, 5px 5px grey;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    /* display: inline-block; */
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.btn {
    display: inline-block;
    padding: 10px;
    border: 1px solid white;
    text-shadow: 2px 2px #45FFC7;
}

.btn:hover {
    color: red;
    transform: translateY(-10px);
    text-shadow: 2px 2px #45FFC7;
}